In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv ("Booking_data.csv")

In [5]:
dataset.head()

,BOOKINGSITENAME,BOOKINGDATE,BOWLINGPARTYSIZE,BOWLINGQTY,VISITDATE,BOOKINGCHANNEL,BOOKINGVALUE,RSRVTYPEKEY,RSRVTYPEDESC,EMAIL
0,Southampton,27/05/2024,NaN,NaN,27/05/2024,Made from Web,14.5,841,Web Pingo's,EMAIL_d36e1d1e
1,Manchester (Parrswood),02/11/2024,5.0,3.0,02/11/2024,Made from Web,114.5,825,Web Bowl Other,EMAIL_7f5c9e41
2,Walsall,22/02/2024,4.0,2.0,25/02/2024,Made from Web,50.4,825,Web Bowl Other,EMAIL_b3a9bca7
3,Walsall,08/03/2024,2.0,2.0,08/03/2024,Made from Web,26.0,825,Web Bowl Other,EMAIL_b3a9bca7
4,Chichester,04/08/2024,5.0,2.0,04/08/2024,Made from Web,97.6,828,Web Eat N Play,EMAIL_cf345354

In [6]:
dataset.isnull().sum()

BOOKINGSITENAME         0
BOOKINGDATE             0
BOWLINGPARTYSIZE    33399
BOWLINGQTY          62703
VISITDATE               0
BOOKINGCHANNEL          0
BOOKINGVALUE            9
RSRVTYPEKEY             0
RSRVTYPEDESC         7801
EMAIL                   0
dtype: int64

In [7]:
dataset.describe()

       BOWLINGPARTYSIZE     BOWLINGQTY   BOOKINGVALUE    RSRVTYPEKEY
count     517092.000000  487788.000000  550482.000000  550491.000000
mean           4.040842       1.977496      38.367524     808.076027
std            2.919991       1.058890      34.542300      68.369186
min            0.000000       1.000000       0.000000       4.000000
25%            2.000000       1.000000      20.000000     825.000000
50%            3.000000       2.000000      30.000000     825.000000
75%            5.000000       2.000000      44.590000     827.000000
max          227.000000      48.000000    1577.600000     931.000000